[submodule "libs/JUCE"]
	path = libs/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "libs/AudioFFT"]
	path = libs/AudioFFT
	url = https://github.com/ManasWolrd/AudioFFT.git
[submodule "src/pluginshared"]
	path = src/pluginshared
	url = https://github.com/ManasWolrd/pluginshared.git
[submodule "libs/cpp_simd_detector"]
	path = libs/cpp_simd_detector
	url = https://github.com/DeltaPavonis/cpp_simd_detector.git
[submodule "libs/simde"]
	path = libs/simde
	url = https://github.com/simd-everywhere/simde-no-tests.git
